@import url('https://fonts.googleapis.com/css2?family=Andika:wght@700&family=Rubik&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Andika", sans-serif;
    font-weight: 350;
}

html{
    font-size: 62.5%;
    place-items: center;
}

#main-div{
    width: 100vw;
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-color: hsl(206, 30%, 56%);
}

#difficulty-box{
    width: 40vw;
    background-color: #fff;
    padding: 7rem 6rem;
    border-radius: 2rem;
    box-shadow: 0 1rem -0.7rem rgba(0, 0, 0, 0.4);
}

#difficulty-box h2{
    font-size: 3.5rem;
    font-weight: 400;
    margin: 1rem 3rem 2rem 0;
    text-align: right;
}
.list-group{
    font-style: bold; 
    font-size: 15px;
    text-align: center;
}